.title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.title span:nth-child(1) {
  color: rgb(3, 3, 44);
}

.title span:nth-child(2) {
  color: rgb(180, 13, 13);
}

.grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 16px;
  padding: 20px;
}

.galeria-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  aspect-ratio: 4/3;
  cursor: pointer;
}

.galeria-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.galeria-item:hover .galeria-img {
  transform: scale(1.1);
}

.slide-details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  color: white;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  transition: .3s ease-in-out;
  z-index: 10;
  box-sizing: border-box;
}

.slide-details p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.galeria-item:hover .slide-details {
  top: 20%;
}