/* =========================================
   ESTILOS BASE (Desktop)
   ========================================= */
.presentation {
    width: 100%;
    height: 35rem; /* Altura original para pantallas grandes */
    position: relative;
}

.presentation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.timbre {
    position: absolute;
    top: 5%;
    left: 2%; /* Lo moví un poco a la derecha para que no pegue con el borde */
    /* transform: translate(-0.5%, -5%);  <- Simplifiqué esto para evitar cálculos raros */
    width: 12rem;
    height: 12rem;
    z-index: 10; /* Aseguramos que quede encima de la foto */
}

.timbre img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Contain es mejor para logos/sellos */
}

/* Separadores */
.separador {
    border: none;
    height: 2px;
    background-color: #e4e4e4;
    margin: 7rem 0; /* Margen grande para desktop */
    width: 100%;
}

.separador-info {
    border: none;
    height: 2px;
    background-color: #e4e4e4;
    margin: 7rem 0 0 0;
    width: 100%;
}

.separador-comments {
    border: none;
    height: 2px;
    background-color: #e4e4e4;
    margin: 0;
    width: 100%;
}

/* =========================================
   RESPONSIVO (Tablets y Laptops Pequeñas)
   ========================================= */
@media screen and (max-width: 1024px) {
    .presentation {
        height: 28rem; /* Reducimos un poco la altura del banner */
    }

    .timbre {
        width: 10rem; /* El timbre se achica proporcionalmente */
        height: 10rem;
    }

    .separador, .separador-info {
        margin: 5rem 0; /* Reducimos el espacio en blanco */
    }
}

/* =========================================
   RESPONSIVO (Móviles / Celulares)
   ========================================= */
@media screen and (max-width: 768px) {
    .presentation {
        height: 18rem; /* Altura ideal para celular (aprox 280px) */
    }

    .timbre {
        width: 6rem; /* Timbre mucho más pequeño para no tapar la foto */
        height: 6rem;
        top: 10px;
        left: 10px;
    }

    /* Reducimos drásticamente los márgenes de los separadores 
       para que no haya huecos gigantes en el celular */
    .separador {
        margin: 3rem 0; 
    }
    
    .separador-info {
        margin: 3rem 0 0 0;
    }
}